body {
    background-image: 
    linear-gradient(
      rgba(21, 235, 255, 0.6), 
      rgba(21, 255, 99, 0.40)
    ),
    url("../assets/bg3.jpg");
    background-size: cover;
    font-family: "system-ui";
    color: black;
    width: 100%; 
    margin: auto;
    font-size: 20px;
}
  
html {
    margin: 0;
    height: 100%;
}

.navi {
    width: 100%;
    overflow: auto;
  }
  
.navi a {
    float: left;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 20px;
    color: rgba(15, 40, 227, 0.983);
    text-decoration: none;
    font-size: 25px;
    width: 10%;
    text-align: center;
}

.navi a:hover {
    color: #009dffeb;
}

.navi a:active {
    color: rgb(255, 255, 255);
}

img {
    max-width: 90%;
    max-height: 90%;
}

.profilepic {
    position: absolute;
    left: 30px;
    top: 20px;
    max-width: 70px; 
    max-height: 70px;
}

.personal {
    float: left;
    width: 35%;
    max-width: 100%;
    padding-top: 8%;
    padding-left: 8%;
    padding-right: 8%;
  }

.sentence {
    text-align: left;
    font-size: 30px;
}