body {
    background-color:#bae7fc;
    font-family: "system-ui";
    color: black;
    width: 100%; 
    margin: auto;
    font-size: 20px;
}
  
html {
    margin: 0;
    height: 100%;
}

.navi {
    width: 100%;
    overflow: auto;
  }
  
.navi a {
    float: left;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 20px;
    color: rgba(15, 40, 227, 0.983);
    text-decoration: none;
    font-size: 25px;
    width: 14%;
    text-align: center;
}

.navi a:hover {
    color: #009dffeb;
}

.navi a:active {
    color: rgb(255, 255, 255);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.profilepic {
    position: absolute;
    left: 30px;
    top: 20px;
    max-width: 70px; 
    max-height: 70px;
}

.reach {
    text-align: center;
    font-size: 40px;
}

.row{
    text-align: center;
    font-size: 30px;
}
.column {
    float: left;
    width: 30.33%;
    padding: 5px;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
}

